@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Inconsolata;
}

.navbar {
  margin: 1.5rem 1.5rem;
  text-transform: uppercase;
  word-spacing: 0.05rem;
}

.main-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
}

.scarecrow {
  max-width: 50%;
  max-height: 50vh;
}

.scarecrow img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main-content {
    /* display: flex; */
    flex-direction: column;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.heading {
  padding-bottom: 0.75rem;
  font-size: 2rem;
  word-spacing: 0.8em;
}

.para {
}
